run.stdin as [-a -D -L -R -W -Z -w]
run.stdin bc [-l -q]
run.stdin cat [-b -e -n -s -t -u] 
run.stdin col [-b -f -h -p -x]
run.stdin colcrt [- -2]
run.stdin colrm
run.stdin cpp [-E -S -c]
run.stdin dc
run.stdin eqn [-C -N -r]
run.stdin ex 
run.stdin expand
run.stdin fmt
run.stdin fold [-bs]
run.stdin ftp [-A -a -d -e -f -g -i -n -p -R -t]
run.stdin grep a [-c -I -y -i]
run.stdin grn [-C]
run.stdin head
run.stdin indent [-bacc -bad -bc -bl -st]
run.stdin flex
run.stdin lex
run.stdin m4 [-gPs -Uname]
run.stdin more
run.stdin neqn
run.stdin nroff
run.stdin pic [-t]
run.stdin pr [-n -s -e]
run.stdin refer
run.stdin rev
run.stdin sed
run.file sh [-c -s]
run.stdin soelim
run.stdin sort [-m -s]
run.stdin strings [-o -a]
run.stdin sum
run.stdin tail
run.stdin tbl
run.stdin tee [-ai]
run.stdin telnet [-c -d -4 -6 -8 -E -K -L -N -r -y -u]
run.stdin tr a b 
run.stdin troff [-t -a]
run.stdin tsort
run.stdin ul [-i]
run.stdin uniq [-c -d -u -i]
run.stdin units [-e -t -q]
run.stdin vgrind [- -W -f -l -n -t -x]
run.stdin wc [-L -c -l -m -w]
run.file awk '{print}'
run.file make -f
run.file nm
run.file nroff
run.file sort
run.file split
run.file strip
run.file yacc
run.cp - calendar calendar
run.cp t.c cc
run.cp t compress
run.cp t.f f77
run.cp t.c lint
run.cp t.p pc
run.cp t split -10
run.cp t.c ctags
run.cp tags ptags
run.cp tags ctree
run.stdin csh
run.stdin xargs test
run.double diff
run.double join
run.double comm
run.double sdiff
